<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link   rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
</head>

<body>
    <!-- <div>
        Hi
    </div> -->
    <form method="POST" action="/res">
    <div class="wrap">
   <div class="search">
   
      <input type="text" name = "text" class="searchTerm" placeholder="What are you looking for?"/>
      <button onclick="" type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
     
   </div>
</div>
</form>
    <!-- <div>
        Hello
    </div> -->
</body>
</html>